
<div class="tutoriales-wrapper">
  <h1 class="tutoriales-titulo">Tutorial</h1>
  <router-outlet></router-outlet>

  <div class="tutoriales-grid">

    <div class="tutorial-card">
      <img src="assets/tutoriales/reglas.jpg" alt="Tutorial 1" class="tutorial-img" />
      <div class="tutorial-contenido">
        <h5 class="tutorial-titulo">Reglamento del juego</h5>
        <p class="tutorial-texto">Conoce las reglas básicas del juego para comenzar a jugar.</p>
        <a routerLink="/tutoriales/reglas" class="tutorial-boton">Ver Tutorial</a>
      </div>
    </div>
    <div class="tutorial-card">
      <img src="assets/tutoriales/crear_unir.png" alt="Tutorial 2" class="tutorial-img" />
      <div class="tutorial-contenido">
        <h5 class="tutorial-titulo">Crear y unirte a partidas</h5>
        <p class="tutorial-texto">Aprende a crear tus propias partidas privadas y como unirte a las partidas de tus amigos.</p>
        <a routerLink="/tutoriales/crear-unir" class="tutorial-boton">Ver Tutorial</a>
      </div>
    </div>
    <div class="tutorial-card">
      <img src="assets/tutoriales/controles.png" alt="Tutorial 3" class="tutorial-img" />
      <div class="tutorial-contenido">
        <h5 class="tutorial-titulo">Controles básicos</h5>
        <p class="tutorial-texto">Obten conocimiento de como realizar las acciones básicas.</p>
        <a routerLink="/tutoriales/controles" class="tutorial-boton">Ver Tutorial</a>
      </div>
    </div>
  </div>
</div>
