<div class="container my-5">
  <div class="container my-4 wTeg">
    <h1 class="text-center mb-4">¡Controles basicos del juego!</h1>
    <div class="mb-5">
      <div class="row g-4">
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Inicio</h5>
              <img src="assets/tutoriales/1_rep_paises.gif" class="img-fluid my-3" alt="Crear Partida">
              <p class="card-text">Al iniciar la partida, se repartiran los paises de acuerdo a la cantidad de jugadores.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Agregar/Quitar fichas</h5>
              <img src="assets/tutoriales/2_colocar_sacar_fichas.gif" class="img-fluid my-3" alt="Crear jugador">
              <p>Para agregar una ficha a nuestro pais, solo hay que hacer click izquierdo.</p>
              <p>Para quitar una ficha, solo hay que hacer click derecho.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Atacar</h5>
              <img src="assets/tutoriales/3_atacar_pais.gif" class="img-fluid my-3" alt="Faltan jugadores">
              <p>Para atacar, debemos dare click a nuestro pais y en la lista de paises fronterizos</p>
              <p>debemos seleccionar al pais que vamos a atacar.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Reposicionar</h5>
              <img src="assets/tutoriales/4_en_caso_ganar.gif" class="img-fluid my-3" alt="Seleccionar bot">
              <p>Cuando derrotemos al rival, nos preguntaran con cuantas fichas vamos a tomar el nuevo pais.</p>
              <p class="text-muted small">Importante: Recuerda que debe quedar una ficha minimo en el pais principal.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Reagrupar</h5>
              <img src="assets/tutoriales/5_reagrupar.gif" class="img-fluid my-3" alt="Opciones de partida">
              <p>Al finalizar el ataque, podemos reagrupar las fichas entre paises aliados.</p>
              <p>Solo debemos seleccionar en nuestra lista de paises fronterizos que pais aliado va a recibir las fichas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
